In [1]:
from pydataset import data

In [2]:
futebol = data('Bundesliga')
futebol

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Round,Year,Date
1,Werder Bremen,Borussia Dortmund,3,2,1,1963,1963-08-24 09:30:00
2,Hertha BSC Berlin,1. FC Nuernberg,1,1,1,1963,1963-08-24 09:30:00
3,Preussen Muenster,Hamburger SV,1,1,1,1963,1963-08-24 09:30:00
4,Eintracht Frankfurt,1. FC Kaiserslautern,1,1,1,1963,1963-08-24 09:30:00
5,Karlsruher SC,Meidericher SV,1,4,1,1963,1963-08-24 09:30:00
...,...,...,...,...,...,...,...
14014,Arminia Bielefeld,Hannover 96,2,2,34,2008,2009-05-23 09:30:00
14015,Karlsruher SC,Hertha BSC Berlin,4,0,34,2008,2009-05-23 09:30:00
14016,1. FC Koeln,VfL Bochum,1,1,34,2008,2009-05-23 09:30:00
14017,Borussia Moenchengladbach,Borussia Dortmund,1,1,34,2008,2009-05-23 09:30:00
14018,Schalke 04,1899 Hoffenheim,2,3,34,2008,2009-05-23 09:30:00

In [3]:
futebol['TotalGoals'] = futebol[['HomeGoals','AwayGoals']].sum(axis=1)
futebol

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Round,Year,Date,TotalGoals
1,Werder Bremen,Borussia Dortmund,3,2,1,1963,1963-08-24 09:30:00,5
2,Hertha BSC Berlin,1. FC Nuernberg,1,1,1,1963,1963-08-24 09:30:00,2
3,Preussen Muenster,Hamburger SV,1,1,1,1963,1963-08-24 09:30:00,2
4,Eintracht Frankfurt,1. FC Kaiserslautern,1,1,1,1963,1963-08-24 09:30:00,2
5,Karlsruher SC,Meidericher SV,1,4,1,1963,1963-08-24 09:30:00,5
...,...,...,...,...,...,...,...,...
14014,Arminia Bielefeld,Hannover 96,2,2,34,2008,2009-05-23 09:30:00,4
14015,Karlsruher SC,Hertha BSC Berlin,4,0,34,2008,2009-05-23 09:30:00,4
14016,1. FC Koeln,VfL Bochum,1,1,34,2008,2009-05-23 09:30:00,2
14017,Borussia Moenchengladbach,Borussia Dortmund,1,1,34,2008,2009-05-23 09:30:00,2
14018,Schalke 04,1899 Hoffenheim,2,3,34,2008,2009-05-23 09:30:00,5

In [6]:
maxGoals = futebol['TotalGoals'].max()
maxGoals

12

In [12]:
#pcmndg ~ partidas com o maior nÃºmero de gols
pcmndg = futebol[futebol['TotalGoals']==12]
pcmndg = pcmndg.drop(['TotalGoals','Round','Year'],axis=1)
pcmndg

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Date
81,Borussia Dortmund,1. FC Kaiserslautern,9,3,1963-11-16 09:30:00
2456,Bayern Muenchen,Borussia Dortmund,11,1,1971-11-27 09:30:00
4052,1. FC Koeln,Tennis Borussia Berlin,8,4,1977-02-26 09:30:00
4457,Borussia Moenchengladbach,Borussia Dortmund,12,0,1978-04-29 09:30:00
5788,Borussia Dortmund,Arminia Bielefeld,11,1,1982-11-06 09:30:00